/*
Color pallette:

#252b31
#5e6668
#c1c8c7
#f6fafb
#d49c6b

*/

html {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;

    background-color: #f6fafb;
    color: #252b31;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;

    font-style: italic;
}

header {
    position: relative;
}

    .cover-image {
        display: block;
        width: 100%;
        filter: brightness(50%);
        z-index: -1;
    }

    .cover-text {
        position: absolute;

        width: 100%;
        top: calc(50% - 24px);

        text-align: center;
        font-size: 48px;
        font-weight: bold;
        color: white;
    }

    .cover-tagline {
        position: absolute;

        width: 100%;
        top: calc(50% + 36px);

        text-align: center;
        font-size: 18px;
        font-style: italic;
        color: white;
    }

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px 0;

    background-color: #c1c8c7;
}

    .home-banner {
        display: flex;
        padding: 0 40px;
        justify-content: space-between;
    }

    .home-banner-element {
        flex-basis: calc((100% - 80px) * 0.3);
        padding: 20px;

        background-color: #5e6668;
        color: #f6fafb;
    }

    .home-banner-element .logo-container {
        width: 100%;
        height: 100px;
        text-align: center;
        margin-bottom: 20px;
    }

    .home-banner-element img {
        width: 100px;
    }

footer {
    padding: 40px;

    background-color: #d49c6b;
    color: #f6fafb;
}