body {
  padding: 2rem;
}

header {
  min-height: 2rem;

  a {
    color: var(--text-color-normal);
    font-weight: bold;
    font-family: Roboto Mono, monospace, sans-serif;
    text-decoration: none;
  }

  #main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    #logo svg {
      display: block;
      stroke: currentColor;
      width: 2rem;
      height: 2rem;
    }
  }

  #menu-toggle-btn {
    display: none;
    fill: currentColor;
    height: 2rem;
    width: 2rem;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    box-sizing: content-box;

    #hamburger[hidden],
    #x-mark[hidden] {
      display: none;
    }

    &:hover {
      fill: var(--accent-color-hover);
    }
  }

  %nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
    }
  }

  #desktop-nav ul {
    @extend %nav-list;
    flex-direction: row;
    gap: 1rem;
  }

  #mobile-nav {
    display: none;

    ul {
      @extend %nav-list;
      flex-direction: column;
      margin-top: 1rem;

      li {
        text-align: right;
      }
    }

    &.active {
      @media screen and (max-width: 500px) {
        display: block;
      }
    }
  }

  @media screen and (max-width: 500px) {
    #menu-toggle-btn {
      display: block;
    }

    #desktop-nav {
      display: none;
    }
  }
}

main {
  margin: 2rem 0;
}

.site-footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
