body {
  padding: 2rem;
}

header {
  min-height: 2rem;

  a {
    color: black;
    font-weight: bold;
    font-family:
      Roboto Mono,
      monospace,
      sans-serif;
    text-decoration: none;
  }

  #main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    #logo svg {
      display: block;
      stroke: currentColor;
      width: 2rem;
      height: 2rem;
    }
  }

  #menu-toggle-btn {
    display: none;

    fill: black;
    height: 2rem;
    width: 2rem;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    box-sizing: content-box;

    #hamburger[hidden] {
      display: none;
    }

    #x-mark[hidden] {
      display: none;
    }
  }

  #menu-toggle-btn:hover {
    fill: var(--accent-color-hover);
  }

  #desktop-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;

    li {
      margin: 0;
    }
  }

  #mobile-nav {
    display: none;
  }

  #mobile-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;

    li {
      text-align: right;
      margin: 0;
    }
  }

  @media screen and (max-width: 500px) {
    #menu-toggle-btn {
      display: block;
    }

    #desktop-nav {
      display: none;
    }

    #mobile-nav.active {
      display: block;
    }
  }
}

main {
  margin: 2rem 0;
}

footer {
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
