#landing-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  align-items: center;
}

#landing-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
}

#landing-greeting {
  text-align: left;
}

#profile {
  display: block;
  width: 192px;
  border-radius: 100px;
  box-shadow: 0 0 10px #0005;
}

#name {
  line-height: 1;
  font-size: clamp(2.5rem, 1.5rem + 4vw, 4rem);
  font-weight: bold;
  letter-spacing: -0.1rem;
}

#links {
  justify-content: center;
  width: 100%;
}

#description {
  width: 100%;
}

@media (min-width: 800px) {
  #landing-hero {
    flex-direction: row;
    justify-content: center;
  }

  #profile {
    width: 292px;
    border-radius: 150px;
  }
}
