/* home page banner */

#home-banner {
    height: 600px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 2rem 2rem 0;

    display: flex;
    justify-content: center;
}

#home-banner .image-container {
    width: 900px;

    border-radius: 5rem 1rem;
    
    background-image: url('../images/cover.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0 0 1rem var(--shadow);
}

#home-banner .mobile.text-container {
    height: calc(100% - 4rem);
    padding: 2rem;
    border-radius: 5rem 1rem;

    color: white;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#home-banner .desktop.text-container {
    width: calc(600px - 2rem);
    padding-left: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#home-banner p {
    font-size: 2rem;
    line-height: 1.2em;
}

@media screen and (max-width: 1200px) {
    #home-banner h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1000px) {
    #home-banner {
        height: 500px;
    }
}

/* about me */

.card-grid {
    max-width: 1250px;
    margin: 2rem auto;
    padding: 0 2rem;

    display: grid;
    grid-template-areas:
        'med-ed research'
        'coming-soon research';
}

#medical-education {
    grid-area: med-ed;
}

#research-interests {
    grid-area: research;
}

#coming-soon {
    grid-area: coming-soon;
}

@media screen and (max-width: 800px) {
    .card-grid {
        display: block;
        margin: 0;
    }

    .card-grid .card {
        margin: 2rem 0;
    }
}