/* CSS Grid depends much more on CSS than HTML, so there is less boilerplate
	 than with skeleton. Only basic 1-4 column grids are included.
	 Any additional needs should be made using custom CSS directives */

.grid-container {
  position: relative;
  max-width: var(--grid-max-width);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  gap: 20px;

  /* by default use min 200px wide columns auto-fit into width */
  grid-template-columns: minmax(200px, 1fr);
}

/* grids to 3 columns above mobile sizes */
@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0;
  }

  /* basic grids */
  .grid-container.fifths {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-container.quarters {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-container.thirds {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-container.halves {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container.full {
    grid-template-columns: 1fr;
  }
}
