/*
* Below partials are based on barebones V3 by Steve Cochran
* Free to use under the MIT license.
*/
@forward "reset";
@forward "variables";
@forward "base_styling";
@forward "spacing";
@forward "typography";
@forward "links";
@forward "buttons";
@forward "forms";
@forward "lists";
@forward "code";
@forward "table";
@use "misc";
@use "utilities";
/* @use "grid"; */
/* @use "clearing"; */
/* @use "media_queries"; */
