hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid var(--border-color-softer);
}

blockquote {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 1em;
  border-left: 0.25em solid var(--border-color-softer);
  color: var(--text-color-softer);

  > :last-child {
    margin-bottom: 0;
  }
}
