.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-x-overflow-box {
  width: 100%;
  overflow-x: auto;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
