html {
  /* default theme: light background, dark text, blue accent */
  --theme-hue: 0; /* white */
  --accent-hue: 250; /* blue */

  --text-color-richer: hsl(var(--theme-hue), 0%, 5%); /* #0d0d0d		*/
  --text-color-normal: hsl(
    var(--theme-hue),
    0%,
    13%
  ); /* #222222 		text color; button:hover:focus color */
  --text-color-softer: hsl(
    var(--theme-hue),
    0%,
    33%
  ); /* #555555 		button color; button:hover border */

  --accent-color: hsl(
    var(--accent-hue),
    86%,
    57%
  ); /* #33C3F0 		link; button-primary bg+border; textarea,select:focus border */
  --accent-color-hover: hsl(
    var(--accent-hue),
    76%,
    49%
  ); /* #1EAEDB 		link hover; button-primary:hover:focus bg+border */

  --border-color: hsl(var(--theme-hue), 0%, 73%); /* #bbbbbb		button border */
  --border-color-softer: hsl(
    var(--theme-hue),
    0%,
    82%
  ); /* #d1d1d1		textarea,select,code,td,hr border	 */

  --background-color: white; /* transparent body background; textarea,select background */
  --background-color-softer: hsl(var(--theme-hue), 0%, 95%);
  --code-background: hsl(
    var(--theme-hue),
    0%,
    95%
  ); /* #f1f1f1 		code background*/

  --button-primary-color: white;

  /* Grid Defaults - default to match orig skeleton settings */
  --grid-max-width: 960px;
}

/*  Dark Theme
	Note: prefers-color-scheme selector support is still limited, but 
	included for future and an example of defining a different base 'theme'
*/
@media (prefers-color-scheme: dark) {
  :html {
    /* dark theme: light background, dark text, blue accent */
    --theme-hue: 0; /* black */
    --accent-hue: 194; /* blue */

    --text-color-richer: hsl(var(--theme-hue), 0%, 95%); /* 		*/
    --text-color-normal: hsl(
      var(--theme-hue),
      0%,
      80%
    ); /* text color; button:hover:focus color */
    --text-color-softer: hsl(
      var(--theme-hue),
      0%,
      67%
    ); /* button color; button:hover border */

    --accent-color: hsl(
      var(--accent-hue),
      76%,
      49%
    ); /* link; button-primary bg+border; textarea,select:focus border */
    --accent-color-hover: hsl(
      var(--accent-hue),
      86%,
      57%
    ); /* link hover; button-primary:hover:focus bg+border */

    --border-color: hsl(var(--theme-hue), 0%, 27%); /* button border */
    --border-color-softer: hsl(
      var(--theme-hue),
      0%,
      20%
    ); /* textarea,select,code,td,hr border	 */

    --background-color: hsl(
      var(--theme-hue),
      0%,
      12%
    ); /* body background; textarea,select background */
    --background-color-softer: hsl(var(--theme-hue), 0%, 18%);
    --code-background: hsl(var(--theme-hue), 0%, 5%); /* code background*/

    --button-primary-color: white;
  }

  img.value-img {
    filter: invert(0.8);
  }
  /* TODO - test dialing back image intensity on dark background
  img {
    opacity: .80;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
  */
}
