:root {
  --theme-hue: 0;
  --accent-hue: 250;

  --accent-color: hsl(var(--accent-hue), 86%, 57%);
  --accent-color-hover: hsl(var(--accent-hue), 76%, 49%);

  --text-color-richer: hsl(var(--theme-hue), 0%, 5%);
  --text-color-normal: hsl(var(--theme-hue), 0%, 13%);
  --text-color-softer: hsl(var(--theme-hue), 0%, 33%);

  --border-color: hsl(var(--theme-hue), 0%, 73%);
  --border-color-softer: hsl(var(--theme-hue), 0%, 82%);

  --background-color: white;
  --background-color-softer: hsl(var(--theme-hue), 0%, 95%);
  --code-background: hsl(var(--theme-hue), 0%, 95%);

  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1.25rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-2xl: 3rem;

  --entry-list-gap: var(--space-md);
  --entry-card-padding-block: var(--space-md);
  --entry-card-padding-inline: var(--space-md);
  --entry-header-gap: 1rem;
  --entry-body-gap: var(--space-sm);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-richer: hsl(var(--theme-hue), 0%, 95%);
    --text-color-normal: hsl(var(--theme-hue), 0%, 80%);
    --text-color-softer: hsl(var(--theme-hue), 0%, 67%);

    --border-color: hsl(var(--theme-hue), 0%, 27%);
    --border-color-softer: hsl(var(--theme-hue), 0%, 20%);

    --background-color: hsl(var(--theme-hue), 0%, 12%);
    --background-color-softer: hsl(var(--theme-hue), 0%, 18%);
    --code-background: hsl(var(--theme-hue), 0%, 5%);

    --accent-color: hsl(var(--accent-hue), 76%, 68%);
    --accent-color-hover: hsl(var(--accent-hue), 86%, 76%);
  }
}
