{{ $ts := resources.Get "ts/nav.ts" }} {{ $js := $ts | js.Build }}
<script src="{{ $js.RelPermalink }}" defer></script>

<div id="main-header">
  <a href="/" id="logo"> {{ partial "logo.svg" }} </a>

  <button id="menu-toggle-btn">
    <span id="hamburger">{{ partial "hamburger.svg" }}</span>
    <span id="x-mark" hidden>{{ partial "x-mark.svg" }}</span>
  </button>

  <nav id="desktop-nav">
    <ul>
      {{ range site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
</div>

<nav id="mobile-nav">
  <ul>
    {{ range site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>
